*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

img{
    max-width: 100%;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}



body{
    min-height: 100vh;
    background-color: #182d3d;
}

/* Header */
header{
    background-color:#132431 ;
}
header nav.container{
    height: 60px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: #fff;
}

header img{
    max-width: 40px;
}



/* Main */
main .main-content{
    padding: 20px 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

main .main-content .card{
    width: calc(100% / 3 - 40px);
    margin:20px;
    background-color: black;
    min-height: 320px;
    color: #fff;
    padding: 20px 30px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
}

main .main-content .card:hover{
    transform: scale(1.1);
}

main .main-content .card h6,
main .main-content .card h5{
    margin-top: 10px;
}

 .collegamento{
    position: absolute;
    top: 100px;
    left: 50px;
    padding: 50px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.collegamento a{
   text-decoration: none;
   color: #182d3d;
   background-color: #fff;
   font-size: 50px;
   text-align: center;
   padding: 10px;
   margin-bottom: 20px;
   border-radius: 50%;
}
