<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dischi Vue-js</title>
    <!-- Icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- Style -->
    <link rel="stylesheet" href="../style/main.css">
</head>

<body>

    <div id="main">
        <!-- Header -->
        <header>
            <nav class="container">
                <img src="../assets/logo.png" method=post alt="">
                <div>
                    <label for="albums">Genere musicale :</label>
                    <select v-model="valoreSelezionato" @change="changeGenre" name="albums" id="albums"
                        form="album-select">
                        <option value="all">All</option>
                        <option value="Rock">Rock</option>
                        <option value="Pop">Pop</option>
                        <option value="Metal">Metal</option>
                        <option value="Jazz">Jazz</option>
                    </select>
                </div>
            </nav>
        </header>

        <!-- Main -->

        <main>

            <div class="container main-content">

                <div v-for="ele in albums" class="card">
                    <img :src="ele.poster" alt="">
                    <h5>{{ele.title}}</h5>
                    <h6>{{ele.author}}</h6>
                    <h5>{{ele.year}}</h5>
                    <h6>{{ele.genre}}</h6>
                </div>

            </div>

        </main>

        <div class="collegamento">
            <a href="../php/index.php"><i class="fab fa-vuejs"></i></a>
            <h5>Click icon for change in PHP</h5>
        </div>
    </div>

    <!-- Js -->
    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- Main js -->
    <script src="./js/main.js"></script>

</body>

</html>